openapi: 3.0.1
info:
  title: Cla.mp
  description: "[Cla.mp](https://cla.mp) is a simple URL shortener."
  termsOfService: https://cla.mp/terms-of-service
  contact:
    email: help@cla.mp
  version: 1.0.0
externalDocs:
  description: Find out more about cla.mp
  url: https://docs.cla.mp
servers:
  - url: https://api.cla.mp/v1
tags:
  - name: links
    description: Manage short links
components:
  schemas:
    shortUrl:
      type: string
      pattern: ^[0-9A-Za-z]{7}$
      example: am89HB4
      description: 7 character base-62 short link
  securitySchemes:
    Standard:
      type: apiKey
      in: header
      name: Api-Key
paths:
  /links:
    post:
      tags:
        - links
      summary: Create a short link
      description: Takes a URL and creates a 7 character base-62 short link. A short link will last forever, unless a request is made to delete it.
      operationId: shorten-url
      security:
        - Standard: []
      requestBody:
        description: URL that you wish to shorten
        content:
          text/plain:
            schema:
              type: string
              example: https://example.com
              description: URL that you wish to shorten
          application/json:
            schema:
              type: string
              example: https://example.com
              description: URL that you wish to shorten
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
                  example: https://example.com
                  description: URL that you wish to shorten
        required: true
      responses:
        "201":
          description: Short link created
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/shortUrl"
            application/json:
              schema:
                $ref: "#/components/schemas/shortUrl"
          headers:
            Location:
              description: Resolves the short link which was created
              schema:
                type: string
                example: https://cla.mp/am89HB4
                description: Resolves the short link which was created
        "400":
          description: Invalid request
        "401":
          description: API key not valid
        "406":
          description: Content-Type requested in Accept header is not supported
        "415":
          description: Provided Content-Type is not supported
        "429":
          description: Too many requests
        "500":
          description: Unexpected error occurred
  /links/{shortUrl}:
    get:
      tags:
        - links
      summary: Retrieve short link mapping
      description: Attempts to retrieve the URL mapping for the short link. If it exists, the URL will be returned as plain text. To resolve a short link, make a request to https://cla.mp/{shortUrl} instead.
      operationId: retrieve-url
      security:
        - Standard: []
      parameters:
        - name: shortUrl
          in: path
          description: The 7 character base-62 short link
          schema:
            $ref: "#/components/schemas/shortUrl"
          required: true
      responses:
        "200":
          description: Short link mapping found
          content:
            text/plain:
              schema:
                type: string
                example: https://example.com
                description: Mapped URL
            application/json:
              schema:
                type: string
                example: https://example.com
                description: Mapped URL
        "400":
          description: Invalid request
        "401":
          description: API key not valid
        "404":
          description: Short link not found
        "406":
          description: Content type requested in Accept header is not supported
        "429":
          description: Too many requests
        "500":
          description: Unexpected error occurred
    delete:
      tags:
        - links
      summary: Delete a short link
      description: Permanently removes a mapping for a short link. This can only be done using the same API key that was used to create the short link. Once deleted, the short link can never be restored. Any attempts to resolve the short link will result in a 404 Not Found response.
      operationId: delete-url
      security:
        - Standard: []
      parameters:
        - name: shortUrl
          in: path
          description: A 7 character base-62 short link
          schema:
            $ref: "#/components/schemas/shortUrl"
          required: true
      responses:
        "204":
          description: Short link was deleted
        "400":
          description: Invalid request
        "401":
          description: API key not valid
        "403":
          description: Another API key created the short link
        "404":
          description: Short link not found
        "429":
          description: Too many requests
        "500":
          description: Unexpected error occurred
